<%- include('header', {user: user}) %>
    <div class="container">
        <div class="main">
            <article>
                <p>
                    <h2><a href="/articles/id/<%= article._id %>"><%= article.title %></a> | <span class="author"><%= article.author %></span></h2>
                    <%= article.body %>
                    <!-- <a href="#"><%= article.liked %></a> -->
                </p>                    
            </article>                
        </div>
        <div class="right"></div>
    </div>
<body>   
<%- include('footer') %>