<%- include('header', {user: user}) %>
    <div class="container">
        <div class="main">
            <article>
                <a href="#"><%= article.liked %></a>
                <h2><a href="/articles/id/<%= article._id %>"><%= article.title %></a> | <span><%= article.author %></span></h2>
                <p>
                    <%= article.body %>
                </p>    
            </article>                
        </div>
        <div class="right"></div>
    </div>
<body>   
<%- include('footer') %>