<%- include('header', {user: user}) %>
    <div class="container">
        <div class="main">
            <div class="products">
            <% for (let i = 0; i < products.length; i++) { %>
            
                <div class="product">
                    <h2><%= products[i].name %></h2>
                    <span class="time"><%= times[i] %></span> | <span class="price"> <%= products[i].price %> </span><br />
                    <img src="/images/<%= products[i].picAddress %>" alt="<%= products[i].name %> 图片">
                    <p><%= products[i].description %></p>
                </div>
                
            <% } %>
            </div>
            <div class="pages"></div>
        </div>
    <div class="right"></div>
    </div>
    <script type="text/javascript" src="../javascripts/build.js"></script>
    <script type="text/javascript" src="../javascripts/createEle.js"></script>
    <script>
        const p = createElement;
        const pagesDom = document.querySelector(".pages");

        let currentPage = <%= currentPage %>;
        let pages = pagearr(<%= productNumberEachPage %>);

        render(currentPage, <%= pagenum %>);

        function render(currentPage, sum) {
            const result = pages(currentPage, sum);
            pagesDom.innerHTML="";
            if (result.prevGroupStartPage) {
                pagesDom.appendChild(p(`<a href="/products/${result.prevGroupStartPage}">${result.prevGroupStartPage}</a>`));
                pagesDom.appendChild(p(`<span> ... </span>`));
            }
            result.pageArr.forEach(page => {
                pagesDom.appendChild(p(`
                    <a href="/products/${page}" class="${page === currentPage ? "active" : ""}">${page}</a>
                    `));
            });

            if(result.lastPage){
                pagesDom.appendChild(p(`<span> ... </span>`));
                pagesDom.appendChild(p(`<a href="/products/${result.lastPage}">${result.lastPage}</a>`));
            }

            const as = pagesDom.querySelectorAll("a");
            as.forEach(a=>a.addEventListener("click",e=>render(e.target.innerText,sum)));
        }
    </script>
<body>   
<%- include('footer') %>